<h1>Add user</h1>
<%= form_for @new_user, :url => { :action => "create" } do |f| %>
    First name: <%= f.text_field :name %><br />
    Email: <%= f.text_field :email %><br />
    <%= f.submit %>
<% end %>