<h1>Users</h1>

<p>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        <% if @users.count == 0 %>
        <tr>
            <td colspan="5" style="text-align: center;"><b>No users available</b></td>
        </tr>
        <% end %>
        <% @users.each do |u| %>
        <tr>
            <td><%= u.id %></td>
            <td><%= u.name %></td>
            <td><%= u.email %></td>
        </tr>
        <% end %>
    </table>
</p>
<p>
    <%= link_to "Create new user", :action => :new %> 
</p>