<h1>Strona Główna</h1>
<%= link_to "Przejdź do akcji first", :action => :first %><br/>
<%= link_to "Przejdź do akcji second", :action => :second %><br/>
<%= link_to "Przejdź do akcji show kontrolera Users", :action => :show, :controller => :users %><br/>
<%= link_to "Przejdź do akcji show kontrolera Posts", :action => :show, :controller => :posts %>